<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HHmmss} ${message}" />
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/DNSRoaming/ClientLog_${date:format=yyyy-MM-dd}.txt" layout="${date:format=yyyy-MM-dd HHmmss} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
